# --- Logs & Debugging ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Dependências e Builds ---
node_modules/
dist/
dist-ssr/
coverage/
*.tsbuildinfo
.eslintcache

# --- Python & Ambientes Virtuais ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
.venv/
env/
venv.bak/

# --- Django ---
.env
local_settings.py
media/
staticfiles/

# --- Ferramentas de Teste (Cypress/Vitest) ---
/cypress/videos/
/cypress/screenshots/
__screenshots__/

# --- Vite ---
*.timestamp-*-*.mjs

# --- Editores e IDEs (VS Code, JetBrains, etc) ---
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.iml

# --- Arquivos de Sistema ---
.DS_Store
Thumbs.db
*.local